.Container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    background-color: #401F68;
}

.Text {
    position: relative;
    padding: 40px;
    color: white;
}

.Heading {
    display: block;
    font-size: 18px;
    text-align: left;
}

.Para {
    display: block;
    position: relative;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

.Subcontainer {
    width: 350px;
    height: 250px;
};

.SocialsContainer {
    display: flex;
    flex-direction: column;
}

.SocialsCirclesContainer {
    display: flex;
    flex-direction: row;
}

.SocialsIcon {
    margin-right: 20px;
    height: 60px;
    width: 60px
}