.HomepageHeaderContainer {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.HomepageHeaderTitle {
    font-family: 'Helvetica';
    font-style: italic;
    font-weight: 700;
    font-size: 120px;
    line-height: 138px;
    /* identical to box height */
}

.Purple {
    color: #8462B6;
}

.White {
    color: #FDFCFF;
}