.NutshellSectionContainer {
    display: flex;
    flex-direction: row;
}

.ImagePlaceholder {
    height: 440px;
    width: 560px;
    background-color: azure;
    margin: 1px
}

.TextAndLink {
    display: flex;
    flex-direction: column
}