.OurTeamsContainer {
    /* Frame 13 */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 42px;

    width: 1292px;
    height: 400px;
}

.Content {
    width: 538px;
    height: 360px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: pre-line;
    text-align: left;

    /* or 171% */
    color: #000000;
}

.Caption {
    display: flex;
    align-items: center;
    flex-direction: column
}

.Photo {
    /* image 14 */
    box-sizing: border-box;

    width: 492px;
    height: 400px;

    border: 0.2px solid #4F2C84;
    border-radius: 12px;
}