.SectionContainer {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 74px;
    gap: 20px;

    background: #FDFCFF;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.SectionHeader {
    /* In a Nutshell */


    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    text-align: left;

    color: #4F2C84;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}